  
  /* Genel reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 30%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  
  /* Üst Gri Bant */
  .top-bar {
    background-color: #e0e0e0;
    height: 60px;
    width: 100%;
  }
  
  /* Logo */
.logo-container {
    position: absolute;
    top: 0,1;
    left: 50%;
    transform: translate(-50%, 0);
    height: 60px; /* Gri bant yüksekliği ile aynı */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
  
  .logo-img {
    width: 25%; /* Oranı küçük tutmaya devam */
    height: auto;
  }
  
  /* İçerik Alanı */
  .main-content {
    flex: 1;
  }
  
  /* Alt Mavi Bant */
  .bottom-bar {
    background-color: #003c78;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .menu {
    position: absolute;
    top: 30px; /* 60px yüksekliğin tam ortası */
    left: 37.5%; /* Sayfayı 4'e bölüp soldan 2. sütunun ortası */
    transform: translate(-50%, -50%);
    display: flex;
    gap: 30px;
    font-weight: 700;
    z-index: 10;
  }
  
  .right-menu {
    position: absolute;
    top: 30px; /* 60px yüksekliğin tam ortası */
    left: 61%; /* Sayfayı 4'e bölüp soldan 2. sütunun ortası */
    transform: translate(-50%, -50%);
    display: flex;
    gap: 30px;
    font-weight: 700;
    z-index: 10;
  }
  .slider {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    z-index: 0;
  }
  
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transform: scale(1.1);
    transition: opacity 1.5s ease-in-out, transform 2s ease-in-out;
  }
  
  .slide.active {
    opacity: 1;
    transform: scale(1);
    z-index: 1;
  }
  